.cache
.xmake
build
build-ci
.direnv
.envrc
compile_commands.json
result
result-*
/fpng/
/subprojects/*
!/subprojects/.wraplock
!/subprojects/*.wrap
!/subprojects/packagefiles/
/subprojects/packagefiles/*
!/subprojects/packagefiles/lodepng-meson/
!/subprojects/packagefiles/lodepng-meson/**
